{% extends '@App/layout.html.twig' %}

{% block application_content %}

{% include '@App/TestBase/progress.html.twig' %}

{% form_theme form '@App/TestBase/form_errors.html.twig' %}

<form name="{{ form.vars.name }}" method="post" action="{{ urlNext }}" data-ajaxcom="" novalidate>
    <div class="step">
        <div class="row">
            <h3 class="col-md-10">{{ 'ztpi_short.init_page.fill_base_data'|trans }}</h3>
            <div class="col-md-6">
                <ul class="data-list">
                    <li>
                        {{ form_widget(form.language, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.language) }}
                    </li>
                    <li>
                        {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.gender) }}
                    </li>
                    <li>
                        {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.age) }}
                    </li>
                </ul>
            </div><!-- end col-md-6 -->

            <div class="col-md-6">
                {{ 'ztpi_short.init_page.text'|trans }}
            </div>
        </div>
    </div>

    {% include '@App/TestBase/next_prev_buttons.html.twig' %}
{{ form_end(form) }}
{% endblock application_content %}
